CONTACT_RECIPIENT=contact@onekana-agency.com
CONTACT_FROM_EMAIL=Site Onekana <contact@onekana-agency.com>
CHATBOT_API_ENDPOINT=https://manager.onekana-agency.com/onekana/api/bots/index.php?endpoint=widget&channel=api_rest&bot_id=6c27a56d-979c-41bd-8cbf-201c15b41a49
CHATBOT_API_KEY=replace_with_a_new_api_key
